<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Customer List</h1>
    <div class="container">
        <a href="/add">Add Customer</a>
        <ul>
            <% customers.forEach(customer => { %>
                <li>
                    <span><%= customer.name %> (<%= customer.email %>)</span>
                    <div class="actions">
                        <a href="/edit/<%= customer.id %>">Edit</a>
                        <a href="/delete/<%= customer.id %>">Delete</a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
